html
{
  scroll-snap-type: y mandatory;
}

.App
{
  height: 100vh;
  background-color: #000;
  color: #200;
  display: grid;
  place-items:center;
}

.app__videos
{
  position: relative;
  height: 580px;
  width: 90%;
  overflow: scroll;
  max-width: 500px;
  min-width: 350px;
  scroll-snap-type: y mandatory;  /*parent scroll Snap functionality  */
}

/* Hide scroll bar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar
{
  display: none;
}

/* Hide scroll bar for firefox , InternetExplorer , and Edge */
.app__videos
{
  -ms-overflow-style:none;  /* for Edge browser */
  scrollbar-width:none;     /* for FireFox browser */
}