.videoSideBar
{
	color:white;
	position: absolute;
	top: 30%;
	right: 10px;
}

.videoSideBar_button
{
	padding-top: 20px;
	text-align: center;
}

.videoSideBar_button > .icon_color
{
	color: tomato;
}